* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2d50;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container h1 {
  margin-bottom: 2rem;
}

.form-and-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button {
  padding: 10px;
  border: none;
  outline: none;

  height: 30px;
}

button {
  width: 30px;
}

/* input:focus {
   border: #133b5c;
 } */
button {
  cursor: pointer;
}

.meals-results,
.mtb {
  margin-top: 20px;
  margin-bottom: 20px;
}
#meals-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.meal-img-box {
  /* height: 200px;
  width: 200px; */
  border: 4px solid #fff;
  border-radius: 5px;
  position: relative;
}

.meal-img {
  height: 100%;
  width: 100%;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: ease 0.5s;
}

.meal-img-box:hover .meal-info {
  opacity: 1;
}

.meal-img-box:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.img-center {
  width: 60%;
  margin: auto;
}

.ingredient-block {
  list-style-type: none;
  display: inline-block;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

.meal-area-category {
  border: dashed orange 2px;
  margin: 5px;
  padding: 10px;
}

/* To be sorted out */
#newsletter-popup {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;
  /* bottom: 0;
  right: 0; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background-color: #1d2d50;
  border: red solid 2px;
}

.popup-text {
  /* position: relative; */
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  background-color: orange;
}

.popup-text h2,
h3 {
  margin: 20px;
}

.popup-text input {
  padding: 20px;
  font-size: 16px;
}

@media (max-width: 800px) {
  .container {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  #meals-results {
    grid-template-columns: repeat(2, 2fr);
    margin: 10px;
  }
  .container {
    margin: 10px;
  }
}
