* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D2D50;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.container h1 {
  margin-bottom: 2rem;
}

.form-and-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  padding: 10px;
  border: none;
  outline: none;
 
  height: 30px;
}

button {
  width: 30px;
}

 /* input:focus {
   border: #133b5c;
 } */
  button {
    cursor: pointer;
  }

.meals-results, .mtb {
  margin-top: 20px;
  margin-bottom: 20px;
}
#meals-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.meal-img-box {
  /* height: 200px;
  width: 200px; */
  border: 4px solid #fff;
  border-radius: 5px;
  position: relative;
}

.meal-img {
  height: 100%;
  width: 100%;
 
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: ease .5s;
}

.meal-img-box:hover .meal-info {
  opacity: 1;
}

.center {
  text-align: center;
}

.img-center {
  width: 40%;
  margin: auto;
}